.card-grid
  .card1
    a(href="")
      .card1__gradient
      .card1__title Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptatum.
  .card2
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quibusdam.