<!DOCTYPE html>
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block personal
    block link
    link(rel="shortcut icon", href="./img/favicon.ico", type="image/x-icon")
    link(href="https://use.typekit.net/zkb2hlc.css", rel="stylesheet")
    link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.7.0/css/solid.css", integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B", crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/fontawesome.css" ,integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" ,crossorigin="anonymous")
    link(href="./css/main.css", rel="stylesheet")
    block headScript
  body.body-wrapper
    main  
      block main 
    block mainScript

