extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
block main
  //- section.container.grid#grid
  //-   P Prova 1
  //-   P Prova 2
  //-   P Prova 3
  //-   P Prova 4
  //-   P Prova 5
  //-   P Prova 6
  //-   P Prova 7
  section.container.grid
    h1 Prova
    include components/card/_card1.pug
block mainScript
  script(src="js/index.js")