extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
block main
  section
    include components/grid/_grid.pug    
  section.container
    //- section
    //-   h2 Prove flex
    //-   .container
    //-     .flex-parent
    //-       .flex-child 1 Lorem ipsum dolor sit amet.
    //-       .flex-child 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ducimus assumenda. Atque earum praesentium inventore minus harum quisquam, placeat ea!
    //-       .flex-child 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
    section
      h2  Prove immagini
      figure
        picture
          source(srcset="https://source.unsplash.com/random1200x800", type="image/webp")
          img(src='https://source.unsplash.com/random1200x800', alt='Placeholder Image')
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt illum, porro quod quasi qui expedita fuga dolore. Adipisci, cum minima! At eius aliquam magni, iste aut maxime voluptatibus voluptatum cupiditate officia sint? Vel nesciunt dolores debitis minus illo magni eligendi dignissimos rem quas quisquam assumenda quo qui dolor aliquid aperiam, cumque rerum obcaecati unde, facere ipsa? Quidem, tempora necessitatibus voluptatem nulla vitae cum. Sunt quo odio consectetur repudiandae temporibus modi eos, sed, possimus quam voluptates natus asperiores ad dignissimos nisi ducimus pariatur commodi. Assumenda fugit sit fugiat alias labore soluta est tempore? Porro enim animi, ipsum praesentium vel asperiores quidem?
      figure 
        img.lazy(src="src/img/camera-solid.svg", data-src="https://source.unsplash.com/random1200x800" alt="")
      p#scroll Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, ratione?
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quo cupiditate voluptates voluptas soluta aliquam illo, aliquid quam consequuntur consequatur magni quaerat! Dolore eum libero, nam harum est soluta dicta itaque temporibus facere deserunt deleniti voluptatem necessitatibus ipsum labore illo reiciendis consequuntur exercitationem. Rem voluptates quibusdam omnis dicta reprehenderit minima quis ipsam ratione molestiae laudantium fuga veniam aperiam est hic repellat voluptatibus consectetur ipsum, sed et distinctio velit? Vitae architecto suscipit id laudantium aperiam sed eos iure nobis! Quos a, recusandae quae voluptates tempora hic nulla accusamus ullam cupiditate in provident reprehenderit, nam dolor fugit! Enim rerum impedit possimus deleniti inventore dicta vero iste minima architecto pariatur aliquam ipsa cupiditate delectus nihil, debitis eos odit reprehenderit ullam magni illo. Consectetur est officiis eius, ut quis ipsam aspernatur consequatur. Nam, consequuntur! Sed ullam aperiam velit itaque nam maxime laboriosam, facere veniam modi perferendis reiciendis quod similique temporibus cumque, quibusdam quas animi porro doloribus quam magnam dignissimos vel id? Aperiam cupiditate quisquam velit expedita, maiores saepe, eveniet corporis veritatis aspernatur autem consequatur facere molestiae nam quae necessitatibus fuga et, beatae reprehenderit vitae amet iusto explicabo. Sequi esse adipisci in sunt quos facilis soluta voluptatum molestias eos incidunt aspernatur quam laudantium, unde suscipit quisquam itaque asperiores placeat delectus consequuntur, odit, eligendi laborum distinctio. Porro nam minus facilis amet adipisci laudantium beatae tenetur officiis ratione ex! Voluptatum quis ut dignissimos at et eum, esse natus quo voluptate quidem quas eos, blanditiis veritatis repudiandae aut. Cumque sit beatae labore dolorum officia rem repellendus asperiores accusamus, nesciunt ipsam similique numquam nulla minus quod expedita doloremque repellat ipsum soluta eaque laudantium culpa odit placeat perferendis. Sunt, distinctio libero cupiditate accusantium quos veritatis mollitia commodi numquam consequatur. Laboriosam nostrum eum fugiat dignissimos, molestiae porro, modi quas exercitationem mollitia vel culpa id fuga, rem magnam perspiciatis nulla error eius! Cum a reprehenderit delectus culpa molestiae dolorem assumenda praesentium, possimus illo, incidunt inventore, maiores deserunt omnis nam sunt nobis. Totam dolorum voluptatum voluptate est nisi nobis ipsam qui dolore praesentium, optio deleniti reiciendis perspiciatis voluptas, accusamus facilis explicabo expedita aliquid hic cumque inventore sed, vel ipsa. Numquam eaque, cupiditate esse ex, repellat provident dolorem accusamus eum quia dicta error natus molestiae. Amet consectetur nisi officiis provident dolores dolor, earum quisquam deleniti adipisci cupiditate porro voluptates temporibus neque excepturi! Praesentium impedit consequuntur distinctio voluptatum tempore officiis, optio laborum saepe voluptates exercitationem itaque explicabo libero molestias. Molestiae debitis dolor, eum nesciunt doloribus perferendis nemo hic ex distinctio magni culpa optio cupiditate numquam molestias officia iusto quisquam necessitatibus totam! Magnam ut corporis vero totam aut est at repellendus beatae exercitationem qui esse fugiat expedita nulla aspernatur praesentium adipisci nihil, nemo quaerat incidunt fuga. Quasi soluta laudantium unde, non commodi nostrum nisi qui voluptate iure illum eligendi maiores deserunt laboriosam enim repellendus maxime temporibus sunt recusandae? Inventore quis doloribus dignissimos beatae quod quia cupiditate architecto, ratione, fuga repellat officiis dicta ex vero sint dolore nulla possimus voluptatibus dolorum distinctio ab maiores nostrum minima. Maiores dicta facere sint explicabo animi hic. Rem in repudiandae quidem!  
block mainScript
  script(src="js/index.js")