extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
block main
  section.container
    .grid
      .item item esplicito Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, corporis quae. Nobis, ipsa, ullam sequi commodi, officia facere aut animi suscipit cum modi adipisci dicta vero unde! Labore error neque impedit veniam obcaecati iure quam vero pariatur blanditiis enim, est provident quos. Quidem exercitationem possimus enim, maiores deserunt praesentium porro ipsa harum inventore, molestias officia est mollitia incidunt saepe facere?
      .item item esplicito
      .item item implicito
      .item item implicito
      
      //- .item item 2 prova 2
      //- .item item 3
      //- .item item 4 prova 4
block mainScript
  script(src="js/index.js")