extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
block main
  //- section.container.grid#grid
  //-   P Prova 1
  //-   P Prova 2
  //-   P Prova 3
  //-   P Prova 4
  //-   P Prova 5
  //-   P Prova 6
  //-   P Prova 7
  section.container.grid
    section
      h2 Prove flex
      .container
        .flex-parent
          .flex-child 1 Lorem ipsum dolor sit amet.
          .flex-child 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, ducimus assumenda. Atque earum praesentium inventore minus harum quisquam, placeat ea!
          .flex-child 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
    section
      h2  Prove immagini
      figure
        img(src='https://source.unsplash.com/random', alt='Placeholder Image')
block mainScript
  script(src="js/index.js")