:root {
  font-size: 18px;
  @include qrq-system-font-stack;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: $tc;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1 {
  margin: 0;
}

button {
  appearance: none;
  background: trasparent;
}

figure {
  background: #ddd url(./../src/img/camera-solid.svg) no-repeat center center;
  background-size: 40px 40px;
  @include aspect-ratio(1200, 800);
}

.body-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 360px;
}