$bgc: #f5f6f6; // background-color
$tc: #424242; // text-color

$vr: 1.5rem;
$gutter: 1.953rem;

$secondary-text: ff-meta-web-pro,
sans-serif;
$primary-text: ff-meta-serif-web-pro,
serif;

$primary-color: red;
$secondary-color: green;

$type5: 3.052rem;
$type4: 2.441rem;
$type3: 1.953rem;
$type2: 1.563rem;
$type1: 1.25rem;
$type0: 1rem;
$type-1: 0.8rem;
$type-2: 0.64rem;