@import "_custom-normalize";
@import '_mixins';
@import '_variables';
@import '_base';

@import 'components/_button.scss';
@import 'components/card/_card1.scss';
@import 'components/_proof-text.scss';

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  width: 100%;
  overflow: auto;
}

.flex-child {
  flex: 1 0 200px;
  padding: $vr;
  background-color: whitesmoke;

  &:first-child {
    background-color: salmon;
  }

  &:last-child {
    background-color: lightblue;
  }
}

.header {
  z-index: z(header);
  background-color: red;


  @include mh(200) {
    position: sticky;
    top: 0;
  }
}

.header-wrapper {
  height: 400px;
  background-color: blue;
}

// Immgini
figure img {
  object-fit: cover;
  width: 100%;
}
