@import "_custom-normalize";
@import '_mixins';
@import '_variables';
@import '_base';

@import 'components/_button.scss';
@import 'components/card/_card1.scss';
@import 'components/_proof-text.scss';

h1 {
  grid-area: header;
}

p:first-of-type {
  grid-area: main;
}

p:nth-of-type(2) {
  grid-area: aside;
}

p:last-of-type {
  grid-area: aside2;
}