.form__group
  label(for="email") Indirizzo email
  input#email.form__input(type="email", name="email", maxlength="128", tabindex="1")
  .alert(aria-live="assertive", role="alert")
    p Inserisci il tuo indirizzo e.mail
.form__group
  label(for="password") Password
  input#password.form__input(type="password", name="password", maxlength="128", tabindex="2")
  .alert(aria-live="assertive", role="alert")
    p Inserisci la password